h5 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
    font-weight: 300;
}
h5 span,
h6 span,
.bonus.plus p span {
    font-family: ultralight;
    font-style: italic;
}
.bonus.plus p span {
    font-weight: 600;
}
h6 {
    font-size: 3.75rem;
    margin-bottom: 2.625rem;
    font-weight: lighter;
    font-weight: 300;
}
.bonus.plus p {
    font-size: 1.125rem;
}

.bonus.plus p:first-child {
    margin-bottom: 1.125rem;
}
.main-add-btn {
    margin-right: 3rem;
}
.buy-at-last {
    display: flex;
    align-items: center;
}
.ppage-main {
    min-height: 90vh;
}
@media only screen and (min-width: 780px) {
    .ppage-main {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 2.5rem;
    }
}
@media only screen and (max-width: 780px) {
    body footer {
        min-height: 55vh;
        justify-content: space-evenly;
    }
    body footer::after {
        display: initial;
        min-height: 55vh;
    }
    .central-p,
    .buy-at-last {
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    main {
        margin: 0;
    }
}